.heroNavGrid {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // align-items: center;
}
.categoryBtn {
  color: black;
  background-color: white;
}
.categorySelectField {
  //   height: 10px ;
  background-color: white;
  min-width: 250px !important;
}
.selectMenuItem {
}
.searchField {
  // background-color: white;
  // border-radius: 0px;
  // width: 70%;
  &:focus-visible {
    border: 1px solid red !important;
    // font-size: 100px;
  }
}
.searchBtn {
  border-radius: 2px 10px 10px 0px;
  background-color: black;
  padding: 9px 25px;

  &:hover {
    background-color: rgb(32, 32, 32);
  }
}
.searchField2 {
  background-color: rgba(255, 255, 255, 0.904) !important;
  border-radius: 0px;
  // width: 100%;
  &:focus-visible {
    outline: 1px solid red !important;
  }
}
.searchBtn2 {
  border-radius: 0px;
  background-color: black;
  color: white;
  padding: 9px;
  border-radius: 2px;
  z-index: 10;

  &:hover {
    background-color: rgb(32, 32, 32);
  }
}

.whishListIcon,
.cartIcon,
.profileIcon {
  color: white;
  font-size: 35px;
  transition: all 0.3s ease-in;
  &:hover {
    color: rgb(0, 0, 0);
  }
}
.loginSectionNav {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  p {
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid white;
    }
  }
}

.iconBadge {
}

.horiLine {
  color: black;
}

.categoryBtn {
  transition: 0.3s;
  &:hover {
    background-color: black;
  }
}

.menuWrapper {
  // top: 0.6406px !important;
  ul {
    left: 200px !important;
  }
}

.menuItems {
  font-family: var(--secondaryFont);
  font-size: 16px;
  padding: 1rem 2.5rem !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
  transition: 0.3s;
  &:hover {
    background-color: black;
    color: white;
  }
}

.navigationMenu_Item {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.3s;

  &:hover {
    background-color: black;
  }
}
.activeRoute {
  background-color: black;
}

// @media (max-width: 575.98px) {
//   .searchBtn {
//     display: unset !important;

//   }
// }
@media (min-width: 1400px) {
  // .heroNavigation_Container {
  //   max-width: 85%;
  //   //   padding: 15px 0px;
  // }
}
