.submitBlogForm {
  width: 100%;
  position: relative;
  .auth_form_error {
    color: red;
    margin: 10px;
    margin-bottom: 20px !important;
  }
  .auth_label {
    font-family: "Roboto";
    color: #000000;
  }
  .auth_form_inputField {
    width: 95%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    &:focus-visible {
      outline: 1px solid var(--primaryColor);
    }
  }

  .auth_form_submitBtn {
    font-size: 16px;
    background-color: var(--primaryColor);
    font-family: var(--secondaryFont);
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #fff;
    margin: 20px 0px;
    width: 50%;
    min-width: 200px;
    padding: 10px 40px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: green;
      cursor: pointer;
    }
  }
}

.addBtn {
  margin: 2vh 0;
  border-radius: 0px;
  background-color: black;
  color: #f2f2f2;
  border: 1px solid black;
  padding: 9px 25px;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
}
.removeBtn {
  border-radius: 0px;
  background-color: #ff0000;
  color: #ffff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 9px 25px;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: rgb(165, 1, 1);
    color: white;
  }
}
