
.categoryBtn {
  transition: 0.3s;
  &:hover {
    background-color: black;
  }
}

.menuWrapper {
  top: 0.6406px !important;
}

.menuItems {
  font-family: var(--secondaryFont);
  font-size: 16px;
  padding: 1rem 2.5rem !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
  transition: 0.3s;
  &:hover {
    background-color: black;
    color: white;
  }
}

.navigationMenu_Item {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.3s;

  &:hover {
    background-color: black;
  }
}
.activeRoute {
  background-color: black;
}
