.table {
  width: 100%;
  color: #212529;
  border-collapse: collapse;

  thead {
    border-bottom: 0.1rem solid #ebebeb;
  }

  th {
    font-family: var(--secondaryFont);
    padding: 15px 0px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    background-color: #f2f2f2;
    border: none;
    text-align: start;
    &:first-child,
    &:last-child {
      padding: 15px 20px;
    }
  }

  td {
    align-items: center;

    .product {
      display: flex;
      align-items: center;
      font-family: var(--secondaryFont);

      a {
        display: inline-block;
        font-size: 16px;
        width: 400px;
        white-space: nowrap;
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: none;
        font-size: 16px;
        color: #06c;
        transition: all 0.3s ease-in;
        &:hover {
          color: var(--primaryColor);
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }

    .imgDiv {
      width: 100px;
      height: 100px;
      display: block;
      margin-right: 28px;
      padding: 10px;
      &:hover {
        cursor: pointer;
      }
    }

    .imgCard {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .price {
      font-family: var(--secondaryFont);
      width: 120px;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .deleteBtn {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      svg {
        transition: color ease-in-out 0.2s;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: var(--secondaryColor);
        }
      }
    }
  }
}

.quantity {
  width: 135px;

  div {
    width: 100px;
    display: flex;
    border: 1px solid #dadada;

    input {
      width: 100%;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 8.5px;
      color: black;
      font-weight: bold;

      &[type="number"]::-webkit-inner-spin-button,
      &input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
      background: none;
      padding: 12.5px 8px;
      color: #9c9c9c;
      transition: color ease-in-out 0.3s;
      cursor: pointer;

      svg {
        font-size: 15px;
        font-weight: bold;
      }
      background-color: rgb(223, 223, 223);
      color: #000;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: var(--primaryColor);
      }
    }
  }
}

.totalPrice {
  font-family: var(--secondaryFont);
  width: 80px;
  font-size: 1.2rem;
  font-weight: 400;
}

tr {
  position: relative;
  border-bottom: 0.1rem solid #ebebeb;
}

@media screen and (max-width: 920px) {
  thead {
    display: none;
  }
  .deleteBtn {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    padding: 0.5rem !important;
    width: auto !important;
  }
  .table {
    tbody {
      tr {
        .product {
          justify-content: center;
          a {
            width: 60%;
            white-space: break-spaces;
          }
        }
      }
    }
    tr {
      align-items: center;
      display: flex;
      flex-direction: column;
      border: 1px solid #e3e3e3;
      padding: 42px 0 40px;
    }
    td {
      .price {
        margin: 5px 0;
      }
      padding: 3vh;
    }
  }

  .quantity {
    margin-bottom: 5px;
    div {
      width: 100%;
    }
  }
}
.tdStyle {
  padding: 2vh 0;
}



.couponTextField {
  width: 75%;
}

.checkOutProcess {
  padding: 25px 30px 30px;
  border: 0.1rem dashed #d7d7d7;
  background-color: #f9f9f9;
  border-radius: 3px;

  .cartDetail {
    h5 {
      font-size: 1rem;
      font-weight: 500;
      padding-bottom: 17px;
      border-bottom: 1px solid #cccccc;
    }

    p {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem solid #ebebeb;
    }
  }

  .shipping {
    .title {
      padding: 20px 0 13px;
      color: #333333;
    }
  }
}

.test {
  color: "var(--primaryColor)";
  & .Mui-checked {
    color: "var(--primaryColor)";
  }
}

.shippingItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  color: #333333;
}

.end {
  p {
    height: 70px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .checkOutBtn {
    width: 100%;
    font-size: 14px;
    height: 40px;
    border: 1px solid var(--primaryColor);
    background: transparent;
    color: var(--primaryColor);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: var(--primaryColor);
      color: #fff;
    }
  }
  
}
.checkOutBtnDisable {
    width: 100%;
    font-size: 14px;
    height: 40px;
    border: 1px solid #e2e2e2;
    background: transparent;
    color: #e2e2e2;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
.notActive {
  opacity: 0.4;
  background: #c96 !important;
  color: #fff !important;
  cursor: not-allowed !important;
}

.continueBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8.5px 15px;
  font-size: 14px;
  background: transparent;
  border: 1px solid #ebebeb;
  color: #333;
  margin: 30px 0;
  text-decoration: none;

  svg {
    margin-left: 10px;
  }
}
