.menu_item {
  
  position: relative;
  font-family: "Poppins";
  font-weight: normal;
  font-size: 15px;
  padding: 1.3vh 0px;
  padding-left: 10px;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: var(--primaryColor);
    cursor: pointer;
  }
  span {
    &:hover {
      text-decoration: underline;
    }
  }
}
.sub_menu {
  background-color: white;
  z-index: 10;
  //  min-height: 20vh;
  box-shadow: 3px 2px 11px 5px #0000001a;
  border-radius: 5px;
  .sub_menu_item {
    border-bottom: 1px solid #e2e2e2;
    &:hover {
      background-color: var(--primaryColor);
    }
  }
}
.menu_item:hover .sub_menu {
  display: block;
}

.link {
  &:hover {
    text-decoration: underline !important;
  }
}
.subMenuName {
  &:hover {
    text-decoration: underline !important;
  }
}

@media (max-width: 575.98px) {
  .sideMenu {
    display: none;
  }
}
