@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;1,500;1,600&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

/* 
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

*/

* {
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #00ad51;
  --secondaryColor: #fd141a;
  --primaryFont: "Lato", sans-serif;
  --secondaryFont: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFont);
}
p,
span,
small {
  font-family: var(--secondaryFont);
}

.mobile-bottom-navigation {
  display: none;
}
.mobile-top-navigation {
  display: none;
}
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: var(--secondaryColor); /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}
@media only screen and (max-width: 900px) {
  .desktop-navigation {
    display: none !important;
  }
  .mobile-top-navigation {
    display: block !important;
  }
  .mobile-bottom-navigation {
    display: block !important;
  }
}
.swiper-pagination-bullet{
    background-color: rgb(255, 255, 255);
}